@model BulkyBook.Models.ViewModels.ProductBookVM

@{
    ViewData["Title"] = "Επεξεργασία";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="ProductBook.Id" hidden />
	<input asp-for="ProductBook.ImageUrl" hidden />
	<div class=" p-3 mt-4 row">
		<div class="row pb-2">
			<h2 class="text-primary">@(Model.ProductBook.Id!=0?"Επεξεργασία": "Καταχώρηση νέου") βιβλίου</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="ProductBook.Title"></label>
			<input asp-for="ProductBook.Title" class="form-control" />
			<span asp-validation-for="ProductBook.Title" class="text-danger"></span>
		</div>
				<div class="mb-3">
			<label asp-for="ProductBook.Description"></label>
			<textarea asp-for="ProductBook.Description" rows="3" class="form-control" ></textarea>
			<span asp-validation-for="ProductBook.Description" class="text-danger"></span>
		</div>
		
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Author"></label>
			<input asp-for="ProductBook.Author" class="form-control" />
			<span asp-validation-for="ProductBook.Author" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.DatePublished"></label>
			<input type="date" asp-for="ProductBook.DatePublished" class="form-control" />
			<span asp-validation-for="ProductBook.DatePublished" class="text-danger"></span>
		</div>
				<div class="mb-3 col-6">
			<label asp-for="ProductBook.ISBN"></label>
			<input asp-for="ProductBook.ISBN" class="form-control" />
			<span asp-validation-for="ProductBook.ISBN" class="text-danger"></span>
		</div>


		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Pages"></label>
			<input asp-for="ProductBook.Pages" class="form-control" />
			<span asp-validation-for="ProductBook.Pages" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Dimensions"></label>
			<input asp-for="ProductBook.Dimensions" class="form-control" />
			<span asp-validation-for="ProductBook.Dimensions" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Discount"></label>
			<input asp-for="ProductBook.Discount" class="form-control" />
			<span asp-validation-for="ProductBook.Discount" class="text-danger"></span>
		</div>


		<div class="mb-3 col-6">
			<label asp-for="ProductBook.ListPrice"></label>
			<input asp-for="ProductBook.ListPrice" class="form-control" />
			<span asp-validation-for="ProductBook.ListPrice" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Price"></label>
			<input asp-for="ProductBook.Price" class="form-control" />
			<span asp-validation-for="ProductBook.Price" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Price20"></label>
			<input asp-for="ProductBook.Price20" class="form-control" />
			<span asp-validation-for="ProductBook.Price20" class="text-danger"></span>
		</div> 
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Price50"></label>
			<input asp-for="ProductBook.Price50" class="form-control" />
			<span asp-validation-for="ProductBook.Price50" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.Price100"></label>
			<input asp-for="ProductBook.Price100" class="form-control" />
			<span asp-validation-for="ProductBook.Price100" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.AvailabilityId"></label>
			<select asp-for="ProductBook.AvailabilityId" asp-items="@Model.AvailabilityList" class="form-select" >
				<option disabled selected>--Επιλέξτε διαθεσιμότητα--</option>
			</select>
			<span asp-validation-for="ProductBook.CategoryId" class="text-danger"></span>
		</div>
		
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.CategoryId"></label>
			<select asp-for="ProductBook.CategoryId" asp-items="@Model.CategoryList" class="form-select" >
				<option disabled selected>--Επιλέξτε κατηγορία--</option>
			</select>
			<span asp-validation-for="ProductBook.CategoryId" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ProductBook.CoverTypeId"></label>
			<select asp-for="ProductBook.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-select">
				<option disabled selected>--Επιλέξτε τύπο εξωφύλλου--</option>
			</select>
			<span asp-validation-for="ProductBook.CoverTypeId" class="text-danger"></span>
		</div>
		
		@if (Model.ProductBook.Id != 0)
		{
			<div class="mb-3 col-11">
			<label asp-for="ProductBook.ImageUrl"></label>
			<input type="file" id="uploadImg" name="file" class="form-control" />
		</div>
			<div class="col-1 pt-4">
				<img src="@Model.ProductBook.ImageUrl" class="float-end"
				width="60" style="border-radius:5px; border:1px solid #bbb9b9" />
			</div>
		}
		else
		{
			<div class="mb-3 col-12">
			<label asp-for="ProductBook.ImageUrl"></label>
			<input type="file" id="uploadImg" name="file" class="form-control" />
		</div>
		}

		<div class="col-12"> 
			@if (Model.ProductBook.Id != 0)
			{
				<button type="submit" class="btn btn-success" >Αποθήκευση</button>
			}
			else
			{
				<button type="submit" onclick="return ValidateInput()" class="btn btn-success" >Δημιουργία</button>
			}

		<a asp-controller="ProductBook" asp-action="Index" class="btn btn-danger" >
			Ακύρωση
		</a>
		</div>
	</div>
</form>


@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter  pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });

	function ValidateInput(){
		var elmId = $("#uploadImg").val();
            if(elmId=="" ){
						Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Παρακαλώ επιλέξτε φωτογραφία',
			})
			return false;
			};
		return true;	
	}

	//	function ValidateInput(){
	//	if(document.getElementById("uploadBox").value==""){
	//		Swal.fire({
	//		  icon: 'error',
	//		  title: 'Oops...',
	//		  text: 'Please upload an Image!',
	//		});
	//		return false;
	//	}
	//	return true;
	//}
	

</script>
}




