@model IEnumerable<BulkyBook.Models.ProductBook>

@{
    ViewData["Title"] = "Αρχική σελίδα";
}

<div class="row pb-3">
	@foreach(var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<a asp-action="Details" class="" asp-route-id="@product.Id">
							<img src="@product.ImageUrl" alt="@product.Title" class="card-img-top rounded "/>
						</a>				
						<div class="card-body">
						<div class="pl-1">
							@*<p class="card-title h5 text-primary" >@product.Title</p>*@
							<a asp-action="Details" class="card-title h6 text-primary text-decoration-none" asp-route-id="@product.Id">
							@product.Title
						</a>
							<p class="card-title text-info"><b>@product.Author</b></p>
						</div>
						<div class="pl-1">
							<p>Τιμή: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
						</div>
@*						<div class="pl-1">
							<p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
						</div>*@
						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id">
							Αγορά
						</a>
					</div>
				</div> 
			</div>
		</div>
	}
</div>
